<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>

<body>
<h1>歡迎使用 Springboot_mall！</h1>
<div class="navbar navbar-light bg-light navbar-expand-lg">
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <li>
                <button class="dropdown-item" id="check"><a href="/register">註冊</a><a href="/login">登入</a></button>
            </li>

                <li><button class="dropdown-item" id="product"><a href="/product">商品清單</a>
                </li>
        </div>
</div>

</body>
</html>